/* Colours 

Base Green: #3f6264
Darker Green: #182526
Lighter Green: #9BBEC0

Base Gold: #b09731
Darker Gold: #504416
Lighter Gold: #E0D090

Off-White: #F1F1F1
Jet Black: #1F1F1F

White: #fff
Black: #000

/* Google Fonts */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Indie Flower */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    font-family: 'Indie Flower', sans-serif;
    background-color: #182526;
}

nav a {
    color: #b09731 !important;
    text-shadow: -1px -1px 0 #504416, 1px -1px 0 #504416, -1px 1px 0 #504416, 1px 1px 0 #504416;
}

nav .active {
    text-decoration: underline;
    font-weight: bold;
}

nav a:hover {
    transition: .2s;
    text-shadow: -1px -1px 0 #E0D090, 1px -1px 0 #E0D090, -1px 1px 0 #E0D090, 1px 1px 0 #E0D090;
}

/* Navbar Toggler */

nav li a {
    display: flex !important;
    justify-content: center !important;
}

.navbar-toggler {
    color: #E0D090;
    border: 2px solid #b09731;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28176, 151, 49, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

nav #menu-pdf {
    color: #504416;
    background-color: #b09731;
    border: 2px solid #504416;
    font-weight: bolder;
}

nav #menu-pdf:hover {
    color: #E0D090;
    background-color: #b09731;
    border: 2px solid #E0D090;
}

/* Main Content */
main {
    height: 100%;
    width: 100%;
    background-color: #3f6264;
}

main article H2 {
    font-family: 'Indie Flower', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

main article p {
    font-family: Poppins, sans-serif;
}



/* Custom Scroll Bar */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #504416;
  }

::-webkit-scrollbar-thumb {
    background-color: #b09731;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #E0D090;
}