/* Colours 

Base Green: #3f6264
Darker Green: #1F3132
Lighter Green: #9BBEC0

Base Gold: #b09731
Darker Gold: #504416
Lighter Gold: #E0D090

Off-White: #F1F1F1
Jet Black: #1F1F1F

White: #fff
Black: #000

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}